{% extends "_partials/base.html" %}  {% load static %}


{% block content %}

<div class="ui grid">

<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form class="ui large form" method="post">

	{% csrf_token %}
	<!-- {{form}}
	<input type="Submit" name="Send email"> -->

	<div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" value="{{data.email}}" placeholder="E-mail address" />
          </div>
        </div>
        <button name="Send email" class="ui fluid large primary submit button">Submit</button>
      </div>
	
</form>

</div>
  {% endblock content %}
