
{% extends "_partials/base.html" %}  {% load static %}


{% block content %}

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui middle aligned center aligned grid">
      <div class="column mt-5">
        
		 {% if validlink %}

			<h3>Enter new password</h3>

			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

			{% include '_partials/messages.html'%}


			<form class="ui form" method="post" >

				{% csrf_token %}
						<div class="ui stacked segment" style="text-align: left; padding: 25px;">
							{% for field in form %}
								<div class="field">
	            		 <label for="{{ form.subject.id_for_label }}">{{field.label_tag}}</label> 
	            		 {{ field }} 
	            	</div>
	            {% endfor %}
	          </div>

	            {% if form.errors %}
					       {% for field in form %}
					           {% for error in field.errors %} 
								  			<div class="ui negative message">
					                   <strong>{{ error|escape }}</strong>
					              </div>
					           {% endfor %}
					       {% endfor %}
			    		{% endif %}
				
			    

			
			<input class="ui fluid large primary submit button" type="Submit" name="Update Password">

			</form>

			{% else %}
				<div class="ui negative message">
				      The password reset link is invalid, possibly because it has already been used.
				      Please request a new password reset.
				</div>
			{% endif %}
	  </div>
	</div>
	<div class="four wide column"></div>
</div>
</div>

  {% endblock content %}


